.main-container {
    display: flex;
    flex-wrap: wrap;
    
}
.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 30px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
}

.pie{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 991px) {
  
}
@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 479px) {
    
}
    
  