.main-container {
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.container {
    display: flex;
    
    background-color: white;
    margin: 2vh;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    
    height: 200px;
    margin: 3vh;
    min-height: 100%;
    max-height: 105%;
    width: 40%;
}






.pie{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    
}
@media screen and (max-width: 767px) {
    .main-container{
        flex-direction: column !important;
    }
}
@media screen and (max-width: 479px) {
    
    .main-container{
        flex-direction: column !important;
    }
}
    
  